#root {
  --main-bg-color: #36d8d8;
  --black: #232828;
  --main-color: #36d8d8;
  --white: white;
  --light-blue: #7aaefc;
  --menu-bg-color: #6072dd;
  --container-bg-color: #6072dd;
  --container-shadow: 5px 5px 10px #414f9b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  place-content: center;
  background-image: url("./images/image.svg");
  background-size: cover;
  background-color: #36d8d8;
  overflow-x: hidden;
}

h1 {
  margin: 20px 0;
}

a {
  text-decoration: none;
  color: white;
}

.App {
  display: flex;
  width: 100vw;
  flex-direction: row;
  gap: 50px;
  padding: 2rem 2rem 0 2rem;
}

button {
  max-width: fit-content;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: #7aaefc;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  font-weight: 700;
}
