#root {
  --main-bg-color: #232828;
  --black: #36d8d8;
  --white: white;
  --light-blue: #7aaefc;
  --menu-bg-color: #343b3b;
  --container-bg-color: #8c87cf;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  place-content: center;
  background-image: url("./images/image.svg");
  background-size: cover;
  background-color: #36d8d8;
  overflow-x: hidden;
}

h1 {
  margin: 20px 0;
}

a {
  text-decoration: none;
  color: white;
}

.App {
  display: flex;
  width: 100vw;
  flex-direction: row;
  gap: 50px;
  padding: 3rem;
}

.container {
  width: 50vw;
  border-radius: 40px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "productsAvailable productsAvailable cart cart";
  background-color: var(--container-bg-color);
  color: white;
  font-weight: 500;
}

.products_available {
  grid-area: productsAvailable;
}

.cart {
  grid-area: cart;
  padding: 20px;
  box-shadow: 0 0 10px #4a5555;
  border-radius: 40px;
}

button {
  max-width: fit-content;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: #7aaefc;
  padding: 10px 20px;
  text-transform: capitalize;
  cursor: pointer;
  color: white;
}

li {
  display: inline-block;
  margin: 10px 0;
  list-style: none;
  padding: 0 50px;
}
